<template>
	<div class="gray">
		<div class="modal-box" v-if="modalOpen">
      <p class="close-btn" @click="onShowModal()">
				<i class="fa fa-times-circle" aria-hidden="true"></i>
			</p>

			<div class="modal">
				<div class="modal__content">
          <h4>Add Street</h4>

					<street-form-component @onCancel="onShowModal()" @onSubmission="onFormSubmission($event)" />
				</div>
			</div>
		</div>

		<div class="dashboard-view">
			<div class="dashboard-view__map">
				<iframe 
						:src="'https://maps.google.com/maps?q=' + encodeURIComponent(`${this.church.name}, ${this.church.postcode}`) + '&t=&z=15&ie=UTF8&iwloc=&output=embed'"
						frameborder="0" 
						scrolling="no" 
					></iframe>
			</div>

			<div class="dashboard-view__content">
        <!--<div class="alert alert-welcome">
          <p>
            Hello {{ getAuthenticateName() }}
          </p>
        </div>-->

        <div class="form">
          <div class="form__input-group">
            <label class="form__input-group__label">Search by street name...</label>

            <input 
              class="form__input-group__field"
              placeholder="Street name" 
              type="text" 
              v-model="searchModel" />
          </div>
        </div>

        <section class="list-grid">
          <div 
            class="street street--linked" 
            v-for="street in search(streets)"
            :key="street.id" 
            @click="redirectToResidences(street)">

            <p class="street__name">{{ street.name }}</p>
            <p class="street__postcode">Number of Residences: {{ street.no_of_residences }}</p>

          </div>
        </section>

        <p>
          <button class="button-cta" @click="onShowModal()">
            Add New Street
          </button>
        </p>
          
			</div>

		</div>
	</div>
</template>

<script>
import StreetFormComponent from './StreetForm.vue';
import { AppMixin } from '../services/MixinService';

export default {
	name: 'dashboard-component',
	mixins: [AppMixin],
	components: { StreetFormComponent },
	data() {
		return {
      form: {},
      churchId: null,
			modalOpen: false,
			searchModel: '',
			streets: [],
			church: {}
		}
	},
	methods: {
		getChurch() {
      this.$http.get(`/api/church/${this.churchId}`)
        .then(response => {
          this.setStorage('church', response.data.data);
          this.church = response.data.data;
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
          }
        });
    },

		getStreets() {
			this.streets = [];
			this.$http.get(
				'/api/street',
				{
					headers: {
						church_id: this.churchId
					}
				}
			)
      .then(response => {
        this.streets = [...response.data.data];
      })
      .catch((e) => {
        if (e.response.status === 401) {
          this.endSession();
        } else {
          console.log(e);
          console.log(e.response);
        }
      });
		},

		redirectToResidences(street) {
			return this.$router.push(`/street/${street.street_id}`);
		},

		search(streets) {
			return streets.filter(street => {
				return street.name.toLowerCase().includes(this.searchModel.toLowerCase())
			});
		},

		onShowModal() {
			this.modalOpen = !this.modalOpen;
		},

		onFormSubmission(data) {
			this.$http.post(
        '/api/street',
        data,
        {
          headers: {
            church_id: this.churchId
          }
        }
      ).then(response => {
					this.form = {};
					this.modalOpen = false;
					this.getStreets();
				})
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
		}
  },
  mounted() {
    this.churchId = this.getChurchId();
  },
  watch: {
    churchId() {
      this.getChurch();
      this.getStreets();
    }
  }
}
</script>
