<template>
  <footer>
    <div class="content">
      <pre>{{ auth }}</pre>
    </div>
  </footer>
</template>

<script>
import { AppMixin } from '../services/MixinService'; // mixins will come here...
export default {
  name: 'footer-component',
  mixins: [AppMixin],
  data() {
    return {}
  },
  computed: {
    auth() {
      return this.getStorage('user');
    }
  },
  data() {
    return {}
  }
}
</script>
