<template>
	<div class="content">
		<div class="login-middle-fix">
			<div class="login-middle-fix__content">
				<login-component @onSubmission="onLoginSubmission($event)" />
			</div>
		</div>
	</div>
</template>

<script>
import LoginComponent from "./Login.vue";
import { AppMixin } from '../services/MixinService'; // mixins will come here...

export default {
  name: "home-component", // <home-component></home-component>
  components: { LoginComponent },
	mixins: [AppMixin],
  data() {
    return {
			title: ''
		};
  },
  methods: {
    onLoginSubmission(data) {
			this.$http({ method: 'POST', url: '/api/login', data })
				.then(response => {
          if (response.status === 200) {
            this.getUserData();
          }
				})
				.catch((err) => {
          if (err.response.status === 401) {
            const msg = err.response.data.data.err.message;
            this.flash(msg, 'error', {timeout: 5000, important: true });
          } else {
            console.log(err);
          }
        });
    },

    getUserData() {
      let self = this;
      this.$http.get("/api/user")
        .then((response) => {
          const user = response.data.data;
          this.setStorage('user', user);
          this.flash(`Welcome ${user.forename}`, 'success', {timeout: 5000, important: true })
          return this.$router.push('/dashboard');
        })
        .catch((err) => {
          this.endSession();
        });
    },
  }
};
</script>
