<template>
  <div>
    <div class="img-container">
      <img id="logo" src="/assets/nok-nok-logo-text-transparent.png" />
    </div>

    <form class="form-container" @submit="onFormSubmission($event)">
      <input name="" placeholder="E-Mail address" type="email" v-model="model.email" /><br/>
      <input name="" placeholder="Password" type="password" v-model="model.password" /><br/>
      <button class="submit-btn" type="submit">Login</button>
    </form>
  </div>
</template>


<script>
export default {
  name: "login-component",

  data() {
    return {
      model: {}
    };
  },

  methods: {
    onFormSubmission(e) {
      e.preventDefault();
      this.$emit('onSubmission', this.model);
    }
  }
}
</script>
