<template>
  <ul class="mobile-menu">
    <li><a @click="$router.push('/dashboard')"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <!--<li><a @click="$router.push('/calendar')"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>-->
    <li><a @click="$router.push('/settings')"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
    <li><a @click="endSession('You have been logged out')"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
  </ul>
</template>

<script>
import { AppMixin } from '../services/MixinService';
export default {
  name: 'mobile-menu-component',
  mixins: [AppMixin],
  created() {
  },

  data() {
    return {}
  },
  
  methods: {}
}
</script>
