<template>
	<nav class="navigation">
		<p class="burger">
      <span class="left" @click="$router.push('/dashboard')"><img src="/assets/nok-nok-logo-transparent.png" /></span>
      <span class="title" @click="$router.push('/dashboard')">Nok Nok</span>
      <span class="right" @click="onToggleMenu()">&#9776;</span>
    </p>
		<ul v-if="showMenu">
			<li><a class="logout" @click="onRouteChange('/dashboard')">Dashboard</a></li>
			<li><a class="logout" @click="onRouteChange('/settings')">Settings</a></li>
			<li><a class="logout" @click="onLogUserOut()">Logout</a></li>
		</ul>
	</nav>
</template>

<script>
import { AppMixin } from '../services/MixinService';
export default {
  name: "navigation-component",
	mixins: [AppMixin],
  data() {
    return {
      showMenu: false
    };
  },
  methods: {
    onLogUserOut() {
      this.onToggleMenu();
      this.endSession('You have been logged out');
    },

    onToggleMenu() {
      this.showMenu = !this.showMenu;
    },

    onRouteChange(location){
      this.onToggleMenu();
      return this.$router.push(location);
    }
  }
};
</script>
