<template>
    <div class="street">
        <div class="modal" v-if="modalOpen">
            <div class="modal__form modal__form--p-20">
                
                <div id="property-form-container" style="margin: 10px 0">
                    <form class="nok-form" @submit="submitNewProperty($event)">
                        <h3 class="text-center">{{ model.name }}</h3>
                        <p>
                            <label>Door Number / Flat Number</label>
                            <input class="nok-form__input" type="text" v-model="form.doorNumber">
                        </p>

                        <p>
                            <label>Nature of Engagement</label>
                            <select class="nok-form__input" v-model="form.natureOfEngagement">
                                <option selected>--Please select--</option>
                                <option :value="1">No answer</option>
                                <option :value="2">Quick chat</option>
                                <option :value="3">Long chat</option>
                                <option :value="4">Invited back</option>
                            </select>
                        </p>

                        <div class="form-label">Requested follow up ministry:</div>
                        <div class="property-form">
                            <div 
                                class="property-form__property" 
                                v-for="($model, $index) in form.followUps" 
                                v-if="$index < 2"
                                :key="$index">
                                <p>
                                    <label>
                                        <span>{{ $model.name }}</span>
                                        <input 
                                            type="checkbox" 
                                            v-model="chosenFollowUpMethods"
                                            :value="$model._id" />
                                    </label>
                                </p>
                            </div>
                            <div 
                                class="property-form__property" 
                                v-for="($model, $index) in form.followUps" 
                                v-if="$index > 1 && $index < 4"
                                :key="$index">
                                <p>
                                    <label>
                                        <span>{{ $model.name }}</span>
                                        <input  
                                            type="checkbox" 
                                            v-model="chosenFollowUpMethods"
                                            :value="$model._id" />
                                    </label>
                                </p>
                            </div>
                            <div 
                                class="property-form__property" 
                                v-for="($model, $index) in form.followUps" 
                                v-if="$index > 3"
                                :key="$index">
                                <p>
                                    <label>
                                        <span>{{ $model.name }}</span>
                                        <input 
                                            type="checkbox" 
                                            v-model="chosenFollowUpMethods"
                                            :value="$model._id" />
                                    </label>
                                </p>
                            </div>
                        </div>

     <!--                    <hr />

                        <div class="form-label">Percieved gospel openness</div>

                        <table cellpadding="0" cellspacing="0" id="pgo-table">
                            <tr>
                                <td v-for="openness in gospelOpenness">
                                    <input 
                                        :class="'traffic-light-btn ' + openness.color" 
                                        type="button" 
                                        @click="toggleGospelOpenness(openness)" />
                                </td>
                            </tr>
                        </table> -->
                        
                        <hr />

                        <button class="button-cta" @click="submitEditProperty($event)">
                            Edit Property Details
                        </button>
                    </form>
                </div>

            </div>
        </div>

        <div id="iframe-container">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804"
                width="600" 
                height="450" 
                frameborder="0" 
                style="border:0"></iframe>
        </div>

        <div class="address-table-container">
            <!--div class="grid grid--600"-->
            <div class="text-center" v-if="busy">
                <i class="fa fa-spinner" aria-hidden="true"></i>
            </div>

            <div class="street text-center" v-if="!busy">
                <h3>{{ model.name }}</h3>
                <p v-if="model.properties.length < 1">
                    {{ model.name }} has not been reached in the past. Please add information regarding the first house/flat on this road by clicking below
                </p>

                <table cellpadding="0" cellspacing="0" class="address-table" v-if="model.properties.length > 0">
                    <tr>
                        <td class="heading">Street Name</td>
                        <td class="heading">Last Visited</td>
                    </tr>

                    <tr :key="$index" v-for="(property, $index) in model.properties">
                        <td>
                            <router-link :to="'/street/'+ $route.params.id + '/' + $index">
                                {{ property.doorNumber + ' ' + model.name }}
                            </router-link>
                        </td>
                        <td>3 months ago</td>
                    </tr>
                </table>
                
                <p>
                    <button class="button-cta" @click="addProperty()">Add house</button>
                    <button class="button-cta delete" @click="deleteStreet()">Delete street</button>
                </p>
            </div>

            <!--/div-->
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import * as GospelOpennessService from './../services/GospelOpennessService';
    import * as CheckUpsService from './../services/CheckUpsService';
    import * as PropertyService from './../services/PropertyService';
    import * as StreetService from './../services/StreetService';

    export default {
        name: 'property-component',

        created () {
            axios
                .get('http://maps.google.com/maps/api/geocode/json?address=' + this.$route.params.street_name)
                .then(response => {
                    this.geoLat = response.data.results[0].geometry.location.lat
                    this.geoLon = response.data.results[0].geometry.location.lng
                });

            this.getFollowUpsList();
            this.getPropertiesByStreetId(this.$route.params.id);
            this.getGospelOpenness();
        },

        data () {
            return {
                busy: false,
                chosenFollowUpMethods: [],
                form: {
                    doorNumber: '',
                    natureOfEngagement: '',
                    followUps: [],
                    openness: 0
                },
                geoLat: 0,
                geoLon: 0,
                gospelOpenness: [],
                model: {
                    properties: []
                },
                modalOpen: true
            }
        },

        methods: {
            getPropertiesByStreetId(id) {
                this.state = 'busy';
                PropertyService.getPropertiesByStreetId(id).then(response => {
                    this.model = response.data;

                    const selectedIndex = this.model.properties[this.$route.params.propertyIndex];
                    this.form.doorNumber = selectedIndex.doorNumber;
                    this.form.natureOfEngagement = selectedIndex.natureOfEngagement;
                    this.form.openness = selectedIndex.openness;
                    this.chosenFollowUpMethods = selectedIndex.chosenFollowUpMethods;
                    this.state = 'idle';
                });
            },
            addProperty() {
                this.modalOpen = !this.modalOpen;
            },
            submitEditProperty($ev) {
                $ev.preventDefault();
                const formData = {
                    id: this.$route.params.id,
                    doorNumber: this.form.doorNumber,
                    chosenFollowUpMethods: this.chosenFollowUpMethods,
                    natureOfEngagement: this.form.natureOfEngagement
                };

                StreetService.editProperty(formData).then(response => {
                    this.modalOpen = false;
                    
                    this.$router.push(`/street/${this.$route.params.id}`);
                });
            },
            deleteStreet() {
                StreetService.removeById(this.$route.params.id).then(response => {
                    this.$router.push('/dashboard');
                });
            },
            getFollowUpsList() {
                CheckUpsService.getAll().then(response => {
                    this.form.followUps = response.data;
                });
            },
            getGospelOpenness() {
                GospelOpennessService.getAll().then(response => {
                    this.gospelOpenness = response.data;             
                });
            },
            toggleGospelOpenness(openness) {
                this.form.openness = openness._id;
            }
        }
    }
</script>
