<template>
  <div class="visit-history">
    <div class="visit-history__header">
      
        <h1 v-if="residence && residence.street">
          <span>Visit history</span>
          {{ residence.house_number }} {{ residence.street.name }}
        </h1>

        <h3 v-if="displayVisitBtn">
          <span v-if="visits[0]">Last visited: {{ $dayjs(visits[0].createdAt).fromNow() }} </span>
          <span v-else>This property has not been visited</span>
        </h3>
        <h3 v-else>Do not knock</h3>
    </div>

    <div class="visit-history__body">

      <table class="visit-history__tbl" v-if="visits[0]">
        <thead>
          <tr>
            <th>Date</th>
            <th>Answered</th>
            <th>Length</th>
            <th>Resident</th>
            <th>Visited by</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="visit in visits" :key="visit.id">
            <td>{{visit.visit_date_out}}</td>
            <td>{{visit.answer_out}}</td>
            <td>{{visit.engagement}}</td>
            <td>{{visit.resident_name}}</td>
            <td v-if="visit.user">{{visit.user.fullName}}</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    
    <section v-if="displayVisitBtn" class="visit-history__footer">
     
      <button class="button-cta" @click="$router.push(`/street/${$route.params.street_id}/${$route.params.residence_id}/new-visit`)">
        <span class="fa fa-plus"></span> Add visit
      </button>

    </section>

  </div>
</template>


<script>
import { AppMixin } from '../services/MixinService';
import { canKnock } from '../services/ResidenceService';

export default {
  name: "residence-component",
  created() {
    this.getHistory();
    this.getResidenceData();
  },
  mixins: [AppMixin],
  data() {
    return {
      residence: {},
      visits: {},
      displayVisitBtn: true
    };
  },
  methods: {
    getResidenceData(){
      this.$http.get(`/api/residence/${this.$route.params.residence_id}`)
				.then(response => {
          const residenceData = response.data.data;

          if (canKnock(residenceData) == false) {
            this.flash('⚠️ This residence has a do-not-knock flag set', 'warning', { timeout: 5000, important: true, pauseOnInteract: true });
            this.displayVisitBtn = false;
          }

          this.residence = residenceData;
				})
				.catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else if (e.response.status === 400) {
            console.error('DB ERROR', e.response.data.data.err);
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
    },

    getHistory() {
      this.$http
        .get(`/api/visit`, {
          headers: { residence_id: this.$route.params.residence_id }
        })
        .then(response => {
          const visits = response.data.data;
          
          visits.forEach(visit => {
            visit.visit_date_out = this.$dayjs(visit.createdAt).format('ddd D MMM YYYY');
            visit.answer_out = visit.answer == "1" ? "Yes" : "No";

            if (!visit.resident_name) {
              visit.resident_name = 'Unknown';
            }
          });

          this.visits = visits;
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
    }
  }
};
</script>