<template>
  <form class="form" @submit="onSubmitStreetForm($event)">

    <div class="form__input-group">
      <label class="form__input-group__label">Street Name</label>
      <input class="form__input-group__field" placeholder="" type="text" v-model="form.name">
    </div>

    <div class="form__input-group">
      <label class="form__input-group__label">Postcode</label>
      <input class="form__input-group__field" placeholder="" type="text" v-model="form.postcode">
    </div>

    <button class="btn btn--micro">
      Add to Street List
    </button>

    <button class="btn btn--micro cancel" @click="onCancelForm()" type="button">
      Cancel
    </button>
  </form>
</template>

<script>
import { AppMixin } from '../services/MixinService'; // mixins will come here...
export default {
  name: 'street-form-component',
	mixins: [AppMixin],
  created() {
  },

  data() {
    return {
      form: {}
    }
  },

  methods: {
    onCancelForm() {
      this.$emit('onCancel');
    },

    onSubmitStreetForm(e) {
      e.preventDefault();
      this.$emit('onSubmission', this.form);
    }
  }
}
</script>
