<template>
	<div class="gray">
		<div class="modal-box" v-if="toggleDoorModal">
			<p class="close-btn" @click="toggleDoorModal = !toggleDoorModal">
				<i class="fa fa-times-circle" aria-hidden="true"></i>
			</p>
			<div class="modal">
				<div class="modal__content">
					<h4>Add Door</h4>
					<h2>{{ street.name }}</h2>

					<form class="form">
						<div class="form__input-group">
              <label class="form__input-group__label">Residence number</label>
							<input class="form__input-group__field" type="text" v-model="doorNumber" />
						</div>

            <button
              @click="onAddDoor()"
              class="btn btn--micro" :disabled="doorNumber.length < 1">
              Add Door
            </button>

					</form>
				</div>
			</div>
		</div>

		<div class="dashboard-view">
			<div class="dashboard-view__map">
        <iframe 
          :src="'https://maps.google.com/maps?q=' + encodeURIComponent(`${ street.name}, ${ street.postcode}`) + '&t=&z=15&ie=UTF8&iwloc=&output=embed'"
          width="600"
          height="450"
          frameborder="0"
          style="border: 0;"></iframe>
			</div>
		
			<div class="dashboard-view__content">

        <section class="list-grid">
          <div 
            class="street street--residence"
            v-for="residence in residences"
            :key="residence.id">

            <p class="street__name">{{ combineAddressInformation(street, residence) }}</p>
            
            <p class="street__postcode">
              <span v-if="residence.last_visited">Last visited: {{ $dayjs(residence.last_visited).fromNow() }} </span>
              <span v-else>This property has not been visited</span>
            </p>

            <ul class="street__residence__cta">

              <li class="btn btn--micro btn--outlined" @click="$router.push(`/street/${street.id}/${residence.id}`)">
                <i class="fa fa-history" aria-hidden="true"></i>
                View History
              </li>
      
              <li class="btn btn--micro" @click="$router.push(`/street/${street.id}/${residence.id}/new-visit`)" v-if="knockChecker(residence) === true">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Add Visit
              </li>

              <li v-else class="btn btn--micro btn--disabled">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Do not knock
              </li>
              
            </ul>

          </div>
        </section>
            
        <p>
          <button class="button-cta" @click="onToggleDoorModal()">
            Add missing door
          </button>
        </p>
			</div>
		</div>
	</div>
</template>

<script>
import { canKnock } from '../services/ResidenceService';
import { AppMixin } from '../services/MixinService';

export default {
	name: 'street-component',
	created() {
		this.getStreetAndResidents();
	},
	data() {
		return {
			residences: [],
			street: {},
			toggleDoorModal: false,
			doorNumber: ""
		}
  },
  mixins: [AppMixin],
	methods: {
		getStreetAndResidents() {
			this.$http.get(`/api/street/${this.$route.params.street_id}/residence`)
				.then(response => {
					const { street, residences } = response.data.data;
					this.street = street;
          this.residences = residences;
				})
				.catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
		},

		knockChecker(residence) {
			return canKnock(residence);
		},

		combineAddressInformation(street, resident) {
			return `${resident.house_number} ${street.name}`;
		},

		onToggleDoorModal() {
			this.toggleDoorModal = !this.toggleDoorModal;
		},

		onAddDoor() {
			if (this.doorNumber) {

				// 1. Check if door exists
				const lookup = this.residences.find(r => r.house_number.toString() === this.doorNumber.toString());
				if (lookup) {
					this.onToggleDoorModal();
					this.flash('This door already exists', 'error', {timeout: 5000, important: true })
					return;
				}

				// 2. If no door then add to db
				this.$http.post(`/api/residence`, {
					streetId: this.street.id,
					houseNumber: this.doorNumber
				}).then(response => {
					this.doorNumber = '';
					if (response.statusText == 'Created') {
						this.getStreetAndResidents();
						this.onToggleDoorModal();
					}
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
			} else {
				this.flash('Please enter a door number', 'alert', {timeout: 5000, important: true })
				return;
			}
		}
	}
}
</script>
