<template>
  <div class="content">
    <user-form-component @onSubmission="onUserSubmission($event)" />
  </div>
</template>

<script>
  import UserFormComponent from "../views/UserForm.vue";
  import { AppMixin } from '../services/MixinService';

  export default {
    name: "user-component",
    components: { UserFormComponent },
    mixins: [AppMixin],
    data() {
      return {};
    },
    methods: {
      onUserSubmission(data) {
        this.$http({ method: 'POST', url: '/api/user', data })
          .then(response => {
            this.flash(
              'User created, please sign in...',
              'success',
              { timeout: 5000, important: true }
            );
            return this.$router.push('/');
          })
          .catch((err) => {
            console.log(err);
          });
      }
    }
  }
</script>
