<template>
  <div class="visit-form form">
    <div class="visit-form__header">
      <h1>
        <span>Visiting</span>
        {{ this.residence.house_number }} {{ this.residence.street.name }}
      </h1>
    </div>

    <div v-if="formStage == 0" class="visit-form__body visit-present">
      <h2 class="form__label">Were they in?</h2>

      <div class="form__button-group">

        <label class="btn btn--squirkle">
          <input class="u-hidden" type="radio" name="answer" value="false" v-model="form.answer" @click="noAnswer()" />
          No
        </label>

        <label class="btn btn--squirkle">
          <input class="u-hidden" type="radio" name="answer" value="1" v-model="form.answer" @click="changeStage(1)"/>
          Yes
        </label>

      </div>
    </div>

    <div v-if="formStage == 1" class="visit-form__body visit-length">
      <h2 class="form__label">How long did you talk for?</h2>

      <ul class="form__option-list">
        <li v-for="time in engagementTimes" :key="time.timeId">
          <button @click="recordEngagementTime(time.timeId)">
            {{ time.time }}
          </button>
        </li>
      </ul>

      <button class="btn btn--text-only" @click="changeStage(0)">
        Back
      </button>
    </div>

    <div v-if="formStage == 2" class="visit-form__body visit-touchpoints">
      <h2 class="form__label">Future ministry touchpoints?</h2>

      <ul class="form__option-list">
        <li v-for="touchpoint in touchpoints" :key="touchpoint.id">
          <label :for="touchpointSlug(touchpoint.touchpoint_name)" class="form__checkbox-input-group">
            <input
              class="form__checkbox-input-group__checkbox"
              type="checkbox"
              name="touchpoint"
              :value="touchpoint.id"
              :id="touchpointSlug(touchpoint.touchpoint_name)"
              v-model="form.touchpoints"
            >
            <p class="form__checkbox-input-group__label">
              {{ touchpoint.touchpoint_name }}
            </p>
          </label>
        </li>
      </ul>

      <div class="form__input-group">
        <label for="tp-name" class="form__input-group__label">Their name</label>
        <input class="form__input-group__field" type="text" id="tp-name" v-model="form.resident_name">
      </div>

      <div class="form__divided">
        <label for="visit-no-knock" class="form__checkbox-input-group form__checkbox-input-group--no-background">
          <input
            class="form__checkbox-input-group__checkbox"
            type="checkbox"
            name="visit-no-knock"
            id="visit-no-knock"
            value="true"
            v-model="form.doNotKnock"
          >

          <p class="form__checkbox-input-group__label">
            Do not knock again
          </p>

          <p class="form__checkbox-input-group__description">
            Mark that this house should not be visited for another 12 months.
          </p>
        </label>

      </div>

      <button @click="saveAndExit()">Save visit</button>
      <button class="btn btn--text-only" @click="changeStage(1)">Back</button>

    </div>
  </div>
</template>

<script>
import { AppMixin } from '../services/MixinService';
import { canKnock } from '../services/ResidenceService';

export default {
  name: "visit-form-component",
  created() {
    this.getResidenceData();
    // ToDo: It would be better to get this on first load of NokNok
    //       then make it global, this feels wasteful to make a db
    //       call each time…
    this.getTouchpointData();
  },
  mixins: [AppMixin],
  data() {
    return {
      formStage: 0,
      form: {
        answer: null,
        engagementTime: null,
        touchpoints: [],
        resident_name: null,
        doNotKnock: null
      },
      residence: { street: {} },
      engagementTimes: [
        {
          timeId: 0,
          time: "Less than a minute"
        },
        {
          timeId: 1,
          time: "Less than 5 minutes"
        },
        {
          timeId: 2,
          time: "Between 5 to 10 minutes"
        },
        {
          timeId: 3,
          time: "About 15 minutes"
        },
        {
          timeId: 4,
          time: "Longer than 15 minutes"
        }
      ],
      touchpoints: []
    };
  },
  methods: {
    getResidenceData(){
      this.$http.get(`/api/residence/${this.$route.params.residence_id}`)
				.then(response => {
          const residenceData = response.data.data;

          // TODO: If do_not_knock set show modal error
          if (canKnock(residenceData) == false) {
            this.flash('⚠️ This residence has a do-not-knock flag set', 'warning', { timeout: 5000, important: true, pauseOnInteract: true });
          }
					this.residence = residenceData;
				})
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else if (e.response.status === 400) {
            console.error('DB ERROR', e.response.data.data.err);
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
    },

    getTouchpointData(){
      this.$http.get(`/api/touchpoints`, {
        headers: { 'church_id': this.getChurchId() }
      })
				.then(response => {
					this.touchpoints = response.data.data;
				})
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
    },

    touchpointSlug(name) {
      return this.$slugify(name, { lower: true });
    },

    noAnswer() {
      this.form = {
        answer: 0,
        engagementTime: 0
      };
      this.saveAndExit();
    },

    saveAndExit() {
      const today = this.$dayjs();
      
      if (this.form.doNotKnock === true) {
        this.$http.patch(
          `/api/residence`,
          {
            id: this.$route.params.residence_id,
            do_not_knock: true,
            do_not_knock_date: this.$dayjs(),
          },
          {
            headers: {
              'residence_id': this.$route.params.residence_id
            }
          }
        ).then(response => {
          this.flash('✅ Set do not knock flag', 'error', { timeout: 5000 });
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
      }

      const visitData = {
        user_id: this.getAuthenticateId(),
        answer: parseInt(this.form.answer),
        engagement_time: this.form.engagementTime,
        touchpoints: this.form.touchpoints,
        resident_name: this.form.resident_name
      };

      this.$http.post(
        `/api/visit`,
        visitData,
        {
          headers: {
            'residence_id': this.$route.params.residence_id
          }
        }
      ).then(response => {
        this.flash('✅ Saved visit', 'success', { timeout: 5000 });
        this.$router.push(`/street/${this.$route.params.street_id}`);
      })
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else if(e.response.status === 400) {
            console.log(e);
            console.error('DB:', e.response.data.data.err);
          } else {
            console.log(e);
            console.log(e.response);
          }
        });

    },

    changeStage(i) {
      this.formStage = i;
    },

    recordAnswer(answer) {
      if (answer) {
        this.form.answer = true;
        this.changeStage(1);
      } else {
        this.form.answer = false;
        this.saveAndExit();
      }
    },

    recordEngagementTime(t) {
      this.form.engagementTime = t;
      this.changeStage(2);
    }
  }
};
</script>
