<template>
  <div>
    <h2>{{ userChurch().name }}</h2>
    <h1>Touchpoints</h1>
    <ul>
      <li v-for="touchpoint in touchpoints">{{ touchpoint.touchpoint_name }}</li>
    </ul>
    <div>
      <label for="new-touchpoint-name">
        Touchpoint name:
        <input type="text" id="new-touchpoint-name" v-model="newTouchpointName">
      </label>
      <button @click="addTouchpoint">Add</button>
    </div>

    <!--Todo: Add and remove users from church-->
  </div>
</template>

<script>
import { AppMixin } from '../../services/MixinService';

export default {
  name: "church-settings-component",
  mixins: [AppMixin],
  created() {
    this.getTouchpointData();
    this.getChurchName(this.churchId);
  },
  data() {
    return {
      churchId: this.userChurch().id,
      churchName: "",
      touchpoints: [],
      newTouchpointName: ""
    };
  },
  methods: {
    getTouchpointData() {
      this.$http
        .get(`/api/touchpoints`, {
          headers: { church_id: this.churchId }
        })
        .then(response => {
          this.touchpoints = response.data.data;
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
    },
    getChurchName(churchId) {
      this.$http
        .get(`/api/church/${this.churchId}`)
        .then(response => {
          this.churchName = response.data.data.name;
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });
    },
    addTouchpoint() {
      if (this.newTouchpointName === "") return;

      this.$http
        .post(
          `/api/touchpoints`,
          { touchpoint_name: this.newTouchpointName },
          {
            headers: { church_id: this.churchId }
          }
        )
        .then(response => {
          this.getTouchpointData();
        })
        .catch((e) => {
          if (e.response.status === 401) {
            this.endSession();
          } else {
            console.log(e);
            console.log(e.response);
          }
        });

      this.newTouchpointName = "";
    }
  }
};
</script>
