<template>
  <div class="">
    <div class="">
      <h1>
        Settings
      </h1>
    </div>

    <div class="">
      <h2>You:</h2>
      <p>{{ getAuthenticateName() }}</p>

      <button @click="$router.push('/settings/user')" class="btn btn--micro">
        Update user details
      </button>
    </div>

    <div class="">
      <h2>Your church:</h2>
      <p>{{ userChurch().name }}</p>

      <!--TODO: If user is church admin then display this button -->
      <button @click="$router.push('/settings/church')" class="btn btn--micro">
        Update ministry touchpoints
      </button>
    </div>

  </div>
</template>

<script>
  import { AppMixin } from '../../services/MixinService';

  export default {
    name: 'settings-component',
    mixins: [AppMixin],
    data() {
      return {}
    },
    methods: {},
    mounted() {}
  }
</script>
