<template>
  <div class="">
    <div class="">
      <h1>
        <span>Settings</span>
        {{ getAuthenticateName() }}
      </h1>
    </div>

    <div class="">
      <p>Nothing to see here (yet)</p>
    </div>

  </div>
</template>

<script>
  import { AppMixin } from '../../services/MixinService';

  export default {
    name: 'user-settings-component',
    mixins: [AppMixin],
    data() {
      return {}
    },
    methods: {},
    mounted() {}
  }
</script>
