.dashboard-view {
  background-color: $lightGray;
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 55px);

  @media (min-width: $tabletWidth) {
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 60px);
  }

  &__map {
    align-items: stretch;
    display: flex;
    justify-content: stretch;
    min-height: 250px;

    iframe {
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    padding: 10px 20px;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
