.flash {
  background-color: transparent;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  &__close-button {
    background-color: transparent;
    background: none;
    border: none;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font-size: 18px;
    line-height: 10px;
    margin: 0;
    padding: 8px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: auto;    
  }

  &__message{
    padding: 15px 30px 15px 15px;
    transition:all .5s;
  }

  &__message-content {
    text-align: center;
    width: 100%;
  }
}

.flash .success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.flash .warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.flash .error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.flash .info {
  color: #37516A;
  background-color: #F2F5FE;
  border-color: rgb(223, 227, 240);
}

.flash-transition-enter,
.flash-transition-leave-to{
  opacity:0;
  transform:rotateX(-30deg) scale(.88) translateY(-30px)
}
