.btn, button {
	background: $primaryColor;
	border: 0;
	border-radius: 15px;
	color: $white;
	cursor: pointer;
  font: inherit;
  font-size: 1em;
  letter-spacing: 1px;
	outline: none;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
	text-transform: uppercase;
	transition: background .5s, color .5s, opacity .5s;
  width: 100%;
  
  &::-moz-focus-inner {
    border: 0;
  }

  &:focus, &:active {
    outline: none;
  }

	&:hover {
		background: $secondaryColor;
	}

	&[disabled] {
		opacity: .5;
	}

	&.cancel {
		background: $alertColor;
		transition: background .5s;

		&:hover {
			background: $alertHoverColor;
		}
  }

  &--text {
    background: none;
    color: $primaryColor;
    padding: 0;

    &:hover {
      background: none;
      color: $secondaryColor;
    }
  }

  &--micro {
    font-size: 0.825em;
    padding: 7.5px;
    border-radius: 7.5px;
  }

  &--disabled {
    pointer-events: none;
    background-color: $darkGray;
  }

  &--outlined {
    color: $primaryColor;
    background-color: transparent;
    border: 1px solid $primaryColor;

    &:hover {
      background-color: transparent;
      border-color: $tertiaryColor;
    }
  }
}


input[type=email],
input[type=password],
input[type=text] {
  font: inherit;
  outline: 0;
  background-color: $lightGray;
  border-radius: 15px;
  border: 1px solid $primaryColor;
  padding: 7.5px 15px;
	-webkit-transition: border 500ms ease-out; 
	-moz-transition: border 500ms ease-out;
	-o-transition: border 500ms ease-out;
  transition: border 500ms ease-out;
  width: 100%;

	&:focus {
		border: 1px solid $tertiaryColor;
	}
}

.btn {
  &--squirkle {
    border-radius: 15px;
    padding: 30px 15px;
  }

  &--text-only {
    background: none;
    color: $tertiaryColor;
    padding: 0;

    &:hover {
      background: none;
      color: $secondaryColor;
    }
  }
}


.form {
  &__label {
    font-size: 20px;
    color: $tertiaryColor;
    display: block;
    text-align: center;
    font-weight: normal;
    margin: 15px 0;
  }

  &__button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  &__option-list {
    list-style-type: none;
  }

  &__divided {
    border-bottom: 1px solid $secondaryColor;
    border-top: 1px solid $secondaryColor;
    padding: 15px 0 0;
    margin: 15px 0;
  }

  &__input-group {
    margin: 15px 0;
    position: relative;

    &__label {
      font-size: 0.825em;
      position: absolute;
      left: 18px;
      top: -9px;
      background: $lightGray;
      padding: 0 5px;
    }

    &__field {

    }
  }

  &__checkbox-input-group {
    color: $lightGray;
    background: $primaryColor;
    border-radius: 7.5px;
    padding: 7.5px;
    user-select: none;
    // ToDo: Autoprefixer
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none;
    position: relative;

    display: grid;
    grid-template-columns: 25px auto;
    grid-column-gap: 5px;
    grid-auto-flow: column;
    margin-bottom: 15px;

    &--no-background {
      background: none;
      color: $tertiaryColor;
    }

    &__checkbox {
      grid-column: 1;
      grid-row: 1/3;
      align-self: self-start;
      width: 25px; // ToDo: This is a bit hacky. Revisit
      height: 25px;

      &:checked + p {
        color: $tertiaryColor;
      }
    }

    &__label {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 1px;
      transition: color .3s;
    }

    &__description {
      font-size: 0.825em;
    }
  }
}
