.modal-box {
	background: $modalColor;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.modal {
  height: 100%;
  position: relative;
  width: 100%;

  &__content {
    padding: 25px;
    background: $white;
    color: $black;
    border-radius: 15px;
    border-color: $primaryColor;
    margin: 0;
    left: 50%;
    max-width: 250px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    h2, h4 {
      color: $black;
      text-align: center;
    }
  }
}
