.street {
	background: $white;
  border: 1px solid $primaryColor;
  border-radius: 15px;
  margin-bottom: 5px;
  transition: all .2s;
  padding: 20px;
  
  &--linked {
    cursor: pointer;

    &:hover {
      border-color: $tertiaryColor;
    }
  }

  &--residence {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

	&__name {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
	}

	&__postcode {
		color: $darkGray;
  }
}

.street__residence__cta {
  list-style-type: none;
  margin: 15px 0 0;
  padding: 0;

  li {
    &.toggle-modal {
      cursor: pointer;
    }
  }

}
