@import url('https://fonts.googleapis.com/css?family=Poppins');

$primaryColor: #3498db;
$secondaryColor: #466d87;
$tertiaryColor: #0f3148;
$supplementaryColor: #ffffff;
$modalColor: rgba(20, 29, 37, 0.9);
$alertColor: #e74c3c;
$warningColor: #ff9f1a;
$alertHoverColor: #c0392b;
$lightGray: #f1f1f1; // Background color
$darkGray: #aaaaaa;


$black: #333333;
$white: #ffffff;

$tabletWidth: 768px;

$fontStack: 'Poppins', sans-serif;
