
.visit-history {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  justify-content: space-between;
}

.visit-history__header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid $secondaryColor;

  h1 {
    color: $primaryColor;
    font-size: 28px;
    font-weight: normal;
    line-height: 30px;
    margin: 15px;

    span {
      color: $secondaryColor;
      display: block;
      font-size: 20px;
      font-weight: normal;
    }
  }
}

.visit-history__body {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.visit-history__footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
}

.visit-history__tbl {
  width: 100%;
  border-collapse: collapse;

  tr:nth-of-type(odd) { 
    background: $darkGray; 
  }

  th { 
    background: $primaryColor; 
    color: $lightGray; 
    font-weight: bold; 
  }

  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  @media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {

    display: block;
        
    thead, tbody, th, td, tr { 
      display: block; 
    }

    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody tr {
      margin-bottom: 10px;
    }

    tr {
      border: 1px solid #ccc;
    }

    tr:nth-of-type(odd) { 
      background: transparent; 
    }

    td {
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }

    td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }

    /* This is a *little* bit ugly */
    td:before {font-weight: bold;}
    td:nth-of-type(1):before { content: "Date:"; }
    td:nth-of-type(2):before { content: "Answered:"; }
    td:nth-of-type(3):before { content: "Visit length:"; }
    td:nth-of-type(4):before { content: "Resident name:"; }
    td:nth-of-type(5):before { content: "Visited By:"; }

  }
}