.visit-form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  overflow-y: auto;

  &__header {
    border-bottom: 1px solid $secondaryColor;
    flex-grow: 0;

    h1 {
      color: $primaryColor;
      font-size: 28px;
      font-weight: normal;
      line-height: 30px;
      margin: 15px;

      span {
        color: $secondaryColor;
        display: block;
        font-size: 20px;
        font-weight: normal;
      }
    }
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
  }
}
