@import 'vars';
@import 'utilities';
@import 'list-grid';
@import 'form';
@import 'alert';
@import 'flash';
@import 'modal';

@import 'dashboard';
@import 'visit-form';
@import 'visit-history';
@import 'street';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	background: $lightGray;
	font-family: $fontStack;
	min-height: 100%;
}

hr {
	background: linear-gradient(to right, transparent, rgba(0, 0, 0, .3), transparent);
	border: 0;
	height: 1px;
	margin: 20px 0;
}

.content {
	padding: 20px;

	&--10 {
		padding: 10px;
	}
}

.navigation {
	background: $primaryColor;
	color: $supplementaryColor;
	display: none;
	position: relative;

	@media(min-width: $tabletWidth) {
		display: block;
	}

	p.burger {
		color: $supplementaryColor;
		cursor: pointer;
		display: flex;
		font-size: 40px;
		margin: 0;
		height: 60px;
		padding: 0 10px;
		text-align: right;

		span {
			float: left;
			width: 33%;
			&.left { text-align: left; }
			&.right { text-align: right; }
			&.title {
				font-size: 25px;
				position: relative;
				text-align: center;
				top: 10px;
			}
		}

		img {
			height: 50px;
			width: 50px;
		}

		&::after {
			clear: both;
			content: '';
			display: table;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		position: fixed;
		width: 100%;
		z-index: 9999;
	}

	li {
		display: block;

		&.seperator {
			background: linear-gradient(to right, $primaryColor, rgba(255, 255, 255, 1), $primaryColor);
			height: 1px;
			padding: 0 20px;
		}
	}
	
	a {
		background: $secondaryColor;
		display: block;
		padding: 10px;

		&.logout {
			cursor: pointer;
		}
	}
}

.img-container {
	img {
		width: 100%;
	}
}

.form-container {

	button {
		background: $primaryColor;
		border: 0;
		border-radius: 50px;
		color: $white;
		cursor: pointer;
		font: inherit;
		padding: 15px;
		transition: background .5s;
		text-transform: uppercase;
		width: 100%;

		&:hover {
			background: $secondaryColor;
		}

		&.cancel {
			background: $alertColor;
			transition: background .5s;

			&:hover {
				background: $alertHoverColor;
			}
		}
	}

	input[type=email],
	input[type=password],
	input[type=text] {
		display: block;
		padding: 10px;
		width: 100%;
	}

	.content {
		padding: 20px;
	}
}

.mobile-menu {
	align-items: center;
	background: $white;
	bottom: 0;
	box-shadow: 0 0 18px rgba(0, 0, 0, .1); 
	position: fixed;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;

	a {
		color: $primaryColor;
		display: block;
		font-size: 12px;
		padding: 10px;
	}

	i {
		display: block;
		font-size: 30px;
		text-align: center;
	}

	@media(min-width: $tabletWidth) {
		display: none;
	}
}

.hide-this-navigation {
	display: none;
}

.login-middle-fix {

	&__content {
		margin: 0;
		left: 50%;
		max-width: 250px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
}

.map-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;
	position: relative;

	iframe {
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
}

.residents {
	background: $white;
	border: 1px solid $lightGray;
	margin-bottom: 20px;
}

.text {
	&--left { text-align: left; }
	&--right { text-align: right; }
}

p.street-lead {
	background: $primaryColor;
	color: $white;
	padding: 15px;
	text-align: center;
}

.close-btn {
	color: $white;
	cursor: pointer;
	padding: 10px;
	text-align: right;
}

.residence {
	&__button {
		background: $primaryColor;
		padding: 20px;
		text-transform: uppercase;
		width: 100%;
	}

	&__input {
		display: block;
		font: inherit;
		margin-bottom: 20px;
		padding: 15px;
		width: 100%;
	} 
}

.filter-form {
	padding: 0;

	[type=text] {
		padding: 10px;
		width: 100%;
	}
}

// .dashboard-view {
// 	& > div {
// 		@media(min-width: $tabletWidth) {
// 			float: left;
// 			width: 50%;
// 		}
// 	}

// 	&::after {
// 		@media(min-width: $tabletWidth) {
// 			clear: both;
// 			content: '';
// 			display: table;
// 		}
// 	}
// }

h1 {
	color: $primaryColor;
	text-align: center;
}

h2 {
	color: $black;
	text-align: center;
}
