<template>
  <div>
    <h2>New User</h2>

    <p>ToDo: Hide this in the app to allow users to be invited into their church</p>
    <p>ToDo: Automagically pick up the correct church id server side</p>

    <form class="form-container" @submit="onFormSubmission($event)">
      <label for="email">
        Email address
      </label>
      <input type="email" v-model="user.email" placeholder="Email address" />

      <label for="password">
        Password
      </label>
      <input type="password" v-model="user.pass" placeholder="Password" />

      <label for="forename">
        First Name
      </label>
      <input type="text" v-model="user.forename" placeholder="First Name" />

      <label for="surname">
        Family Name
      </label>
      <input type="text" v-model="user.surname" placeholder="Family Name" />

      <button class="submit-btn" type="submit">Create Account</button>
    </form>
  </div>
</template>

<script>
  export default {
    name: "user-form-component",
    data() {
      return {
        user: {
          church_id: 1 // Hard coded for now
        }
      }
    },
    methods: {
      onFormSubmission(e) {
        e.preventDefault();
        this.$emit('onSubmission', this.user);
      }
    }
  }
</script>
