<template>
	<main>
		<flash-message class="flash"></flash-message>

		<header>
			<navigation-component></navigation-component>
		</header>
		
		<router-view></router-view>
		
		<mobile-menu-component />
	</main>
</template>


<script>
import { mapState } from 'vuex'
import NavigationComponent from './components/Navigation.vue';
import MobileMenuComponent from "./components/MobileMenu.vue";

export default {
	name: 'app-component',
	components: { MobileMenuComponent, NavigationComponent },
	data () {
		return {
			name: ''
		}
	}
}
</script>
